{% extends "accounts/base.html" %}

{%block content%}
<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="container mt-5">
        <h3 class="text-center">Art Gallery - Login</h3>
        <p class="text-center">Please Enter Email Address to Reset Password</p>
        <br>
        <form class="card shadow-sm p-4 d-flex flex-column justify-content-center w-50 mx-auto">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Johndoe@email.com">
                </div>
            <button type="submit" class="btn btn-primary w-50 mx-auto">Submit</button>
        </form>
    </div>
</div>

{% endblock content%}