<!--Footer-->

<div class="container-fluid text-light d-flex flex-row justify-content-between align-items-center py-4", style="background-color: black;">
    <div>
        <p>&copy; 2024 All Rights Reserved.</p>
    </div>
    <div>
        <ul class="d-flex flex-row justify-content-between list-unstyled">
            <li class="nav-item mx-2"><a href="" class="nav-link">Privacy Policy</a></li>
            <li class="nav-item mx-2"><a href="" class="nav-link">Terms & Conditions</a></li>
            <li class="nav-item mx-2"><a href="" class="nav-link">User Agreements</a></li>
            </ul>
        </div>
</div>
